@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: transparent;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mosty-black);
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

:root {
  --white: #ffffff;
  --mostly-black: #000000;
  --dark-gray: #757575;
  --very-dark-gray: #212121;
  --vivid-blue: #2196f3;
  --very-dark-grayish-blue: #2f303a;
  --vivid-blue-button: #188ce8;
  --light-grayish-blue: #f5f4fa;
  --light-gray: #c4c4c4;
  --grayish-blue: #afb1b8;
  --very-light-gray: #ececec;
  --very-light-gray-two: #eeeeee;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 465px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 753px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1185px;
  }
}

.about__button {
  background: var(--vivid-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}
.about__button:active {
  background: var(--vivid-blue-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.about__button--text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 24px;
  letter-spacing: 0.06em;
  color: var(--white);
}

.input-button {
  width: 200px;
  height: 50px;
  background: var(--vivid-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  gap: 10px;
  border: 0;
}

.modal-button {
  width: 200px;
  height: 50px;
  background: var(--vivid-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background: var(--vivid-blue-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn {
  min-width: 200px;
  height: 50px;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: var(--vivid-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  transform: scale(1);
  cursor: pointer;
}
.btn:hover:enabled, .btn:focus:enabled {
  transform: scale(0.93);
}
.btn:disabled {
  background-color: gray;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-animation);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
@media screen and (max-width: 1199px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.modal {
  position: relative;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all var(--transition-animation);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
@media screen and (max-width: 767px) {
  .backdrop.is-hidden .modal {
    transform: scale(0.5);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: auto;
    transform: translate(-50%, -25%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    width: 528px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  cursor: pointer;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill var(--transition-animation);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--vivid-blue);
}

.callback-form {
  width: 100%;
  padding: 40px;
}

.callback__title {
  display: block;
  margin-bottom: 12px;
  color: var(--very-dark-gray);
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .callback__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1198px) {
  .callback__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.callback__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .callback__group:focus-within {
    color: var(--vivid-blue);
  }
}
@media screen and (max-width: 767px) {
  .callback__group {
    width: 370px;
  }
}

.callback__label {
  margin-bottom: 4px;
  color: var(--dark-gray);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.callback__area {
  position: relative;
}

.callback__input {
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all var(--transition-animation);
  cursor: pointer;
}
.callback__input:hover {
  outline: transparent;
  color: var(--mostly-black);
  border: 1px solid var(--dark-gray);
}
.callback__input:not(:placeholder-shown):hover:valid {
  color: var(--vivid-blue);
  border-color: var(--vivid-blue);
}
.callback__input:not(:placeholder-shown):hover:invalid {
  color: var(--vivid-blue);
  border-color: var(--vivid-blue);
}
.callback__input:focus {
  outline: transparent;
  color: var(--mostly-black);
  border: 1px solid var(--dark-gray);
}
.callback__input:not(:placeholder-shown):focus:valid {
  color: var(--vivid-blue);
  border-color: var(--vivid-blue);
}
.callback__input:not(:placeholder-shown):focus:invalid {
  color: var(--vivid-blue);
  border-color: var(--vivid-blue);
}

.callback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill var(--transition-animation);
}
.callback__area:hover .callback__icon {
  fill: var(--vivid-blue);
}
.callback__area:focus-within .callback__icon {
  fill: var(--vivid-blue);
}

.callback__commit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .callback__commit:focus-within {
    color: var(--vivid-blue);
  }
}

.callback__textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all var(--transition-animation);
  resize: none;
  cursor: pointer;
}
.callback__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.callback__textarea:focus {
  outline: transparent;
  color: var(--mostly-black);
  border: 1px solid var(--vivid-blue);
}
.callback__textarea:hover {
  outline: transparent;
  color: var(--mostly-black);
  border: 1px solid var(--vivid-blue);
}

.policy-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.input-label-check {
  display: flex;
  justify-content: center;
  gap: 8.38px;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .input-label-check {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}
.input-label-check .input-text {
  color: var(--vivid-blue);
}
.input-label-check .input-check {
  gap: 8.38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.input-label-check .input-check:checked + .checkbox-icon .checkbox-icon_uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label-check .input-check:checked + .checkbox-icon .checkbox-icon_check {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-label-check .checkbox-icon_check {
  opacity: 0;
}

.policy__link {
  color: var(--vivid-blue);
}

.btn-block {
  text-align: center;
}

.callback__btn {
  padding: 10px 55px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.section_priorities {
  padding-bottom: 0;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  padding: 48px 40px;
  overflow: auto;
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu-close {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}

.menu-close:hover,
.menu-close:focus {
  fill: var(--vivid-blue);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--very-dark-gray);
}

.mob-menu__link:hover,
.mob-menu__link:focus {
  color: var(--vivid-blue);
}

.mob-menu__link--current {
  color: var(--vivid-blue);
}

.mob-menu__link--current::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 139px;
  height: 3.71px;
  background: var(--vivid-blue);
  margin-top: 5px;
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
}

.mob-connect__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
}

.mob-menu__connect--tel {
  margin-bottom: 32px;
}

.mob-menu__connect--mail {
  margin-bottom: 64px;
}

.mob-menu__soc--item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
  position: relative;
}

.mob-menu__soc--link {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__soc--link {
  display: flex;
}

.mob-menu__soc--item-current::before {
  content: "";
  display: block;
  border-radius: 2px;
  width: 22px;
  height: 1px;
  background: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--very-dark-gray);
}

.header-logo__text {
  color: var(--vivid-blue);
}

.mobile-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.mobile-button .icon-cross {
  display: none;
}
.mobile-button.is-open .icon-cross {
  display: block;
}
.mobile-button.is-open .icon-menu {
  display: none;
}
.mobile-button:hover .mobile-button__icon, .mobile-button:focus .mobile-button__icon, .mobile-button:active .mobile-button__icon {
  fill: var(--vivid-blue);
}
@media screen and (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}

.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.menu {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  position: relative;
  color: var(--very-dark-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-animation);
}
.menu__link:hover, .menu__link:focus {
  color: var(--vivid-blue);
}
.menu__link--current {
  color: var(--vivid-blue);
}
.menu__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--vivid-blue);
}
@media screen and (max-width: 767px) {
  .menu__link {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) {
  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts {
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  color: var(--dark-gray);
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-animation);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--vivid-blue);
}
@media screen and (min-width: 767px) {
  .contacts__link {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
  }
}

.contacts__icon {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    justify-content: center;
  }
}

.contacts__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__mail {
    margin-right: 8px;
  }
}

.contacts__phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__phone {
    margin-right: 8px;
  }
}

.contact-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-768@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-1200@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-1200@2x.jpg);
  }
}

.hero__content {
  max-width: 360px;
  padding: 118px 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 696px;
    padding: 200px 0;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
  }
}

.hero__btn {
  padding: 10px 32px;
}

.specialities-articles {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  margin-left: auto;
}
.specialities-articles-after {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  padding-bottom: 10px;
}
.specialities-articles-tittle {
  line-height: 24px;
  letter-spacing: 0.03em;
}
.specialities-articles-icon {
  background: var(--light-grayish-blue);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
}

.features {
  padding-top: 60px;
}
@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__img {
  margin-bottom: 30px;
  padding: 25px;
  background: var(--light-grayish-blue);
  text-align: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--very-dark-graydark-gray);
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
  margin-top: 0;
  margin-bottom: 0;
}

.picture-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
  margin-bottom: 50px;
}

.picture-list {
  display: flex;
  gap: 30px;
}
.picture-list-item {
  position: relative;
}
.picture-list-cont {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
}
.picture-list-tittle {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

@media screen and (max-width: 1199px) {
  .photos {
    display: none;
  }
}

.photos__list {
  list-style: none;
  display: flex;
}

.photos__item {
  width: calc((100% - 60px) / 3);
}
.photos__item:not(:last-child) {
  margin-right: 30px;
}

.photos__thumb {
  position: relative;
}

.photos__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white);
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: var(--light-grayish-blue);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    list-style: none;
    display: flex;
  }
}

.team__item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--very-dark-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 1.18;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--white);
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-animation);
}
.media-link:hover, .media-link:focus {
  background-color: var(--vivid-blue);
}

.media-icon {
  width: 20px;
  height: 20px;
  fill: var(--grayish-blue);
  transition: fill var(--transition-animation);
}

.clients__list {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.clients__item {
  height: 90px;
  border: 1px solid var(--grayish-blue);
  border-radius: 4px;
  transition: border-color var(--transition-animation);
}
.clients__item:hover, .clients__item:focus {
  border-color: var(--vivid-blue);
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
  .clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90px;
}

.clients__icon {
  fill: var(--grayish-blue);
  transition: fill var(--transition-animation);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--vivid-blue);
}

.footer {
  padding: 60px 0px;
  background-color: var(--very-dark-grayish-blue);
  color: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-blocks {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.input {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.input-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  gap: 12px;
}
.input-container__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  padding-left: 16px;
  color: var(--white);
}

.address-block {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .address-block {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-block {
    margin-right: 65px;
  }
}

.footer__logo {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--white);
}

/* Контакты в футере */
.adress {
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .adress {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .adress {
    margin-bottom: 60px;
  }
}

.adress__map {
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress__map {
    margin-bottom: 9px;
  }
}

.adress__list {
  list-style: none;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color var(--transition-animation);
}
.adress__link:hover, .adress__link:focus {
  color: var(--vivid-blue);
}

.logo {
  font-weight: 700;
  font-size: 24px;
}
.logo__text {
  color: var(--vivid-blue);
}
.header__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
}

@media screen and (max-width: 1199px) {
  .networks {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .networks {
    margin-right: 93px;
  }
}

.networks__title {
  display: flex;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .networks__title {
    display: flex;
    margin-bottom: 20px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 768px) {
  .networks__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .networks__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.networks__list {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 767px) {
  .networks__list {
    justify-content: center;
  }
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.networks__icon {
  fill: var(--white);
}
.networks__link:hover .networks__icon, .networks__link:focus .networks__icon {
  fill: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__field {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__field {
    flex-direction: column;
  }
}

.subscribe__input {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--very-dark-grayish-blue);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition: all var(--transition-animation);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  outline: transparent;
  border: 1px solid currentColor;
}
.subscribe__input:not(:placeholder-shown):focus:valid {
  color: green;
  border-color: green;
}
.subscribe__input:not(:placeholder-shown):focus:invalid {
  color: tomato;
  border-color: tomato;
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}
@media screen and (max-width: 767px) {
  .subscribe__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.header-studio-port {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
  display: block;
  position: relative;
  padding-bottom: 28px;
  padding-top: 28px;
}
.header-studio-port::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 78px;
  height: 4px;
  background-color: var(--vivid-blue);
  border-radius: 2px;
}

.header-port {
  border-bottom: 1px solid var(--very-light-gray);
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  gap: 8px;
  margin-top: 94px;
}
.filters-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-button-text {
  background: var(--light-grayish-blue);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px 6px 22px;
  transition: color var(--transition-animation), background var(--transition-animation);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
}
.filters-button-text:active {
  background: var(--vivid-blue);
  box-shadow: 0px 3px 1px var(--mostly-black), 0px 1px 2px var(--mostly-black), 0px 2px 2px var(--mostly-black);
  border-radius: 4px;
}
.filters-button-text:hover, .filters-button-text:focus {
  background-color: var(--vivid-blue);
  color: var(--white);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.project-item {
  width: 370px;
  background: var(--white);
  display: block;
  transition: box-shadov var(--transition-animation);
}

.project-after {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: var(--very-dark-gray);
}

.project-tittle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}

.card-flex {
  border-top: 0;
  padding: 20px 24px;
  border: 1px solid var(--very-light-gray-two);
}

.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-anim {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 28px;
  font-weight: 400;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: var(--transition-animation);
}

.project-item:hover .project-top-text {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */