.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// Тайтл для секций

.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
