.about {
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .about__container {
    max-width: 360px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 118px 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .about__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    @media screen and (min-width: 480px) {
      width: 360px;
      height: 84px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}
