// Футер

.footer {
  padding: 60px 0px;

  background-color: var(--very-dark-grayish-blue);

  color: var(--white);
}

// Обёртка для блоков в футере

.footer-blocks {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.input {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  &-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
  }
  &-container {
    display: flex;
    gap: 12px;
    &__mail {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: var(--very-dark-grayish-blue);
      display: flex;
      padding-left: 16px;
      color: var(--white);
    }
  }
}

// Общий ьлок с адресом и лого в футере

.address-block {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
  }
  @media screen and (max-width: 768px) {
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
  }
}

// Лого в футере

.footer__logo {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;

  color: var(--white);
}

/* Контакты в футере */

.adress {
  font-size: 14px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
}

// Улица в футере

.adress__map {
  margin-top: 0;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

// Список телефонов и почт

.adress__list {
  list-style: none;
}

// Элементы списка

.adress__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Ссылка для элементов списка

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  width: 231px;
  height: 21px;

  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  transition: color var(--transition-animation);

  &:hover,
  &:focus {
    color: var(--vivid-blue);
  }
}

// Общий стиль лого

.logo {
  font-weight: 700;
  font-size: 24px;

  &__text {
    color: var(--vivid-blue);
  }

  @media screen and (min-width: 1200px) {
  }
}

// Логотип в хедере

.header__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
}
// Блок соц сетей в футере

.networks {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

// Тайтл блока

.networks__title {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 20px;

    line-height: 1.14;
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  display: flex;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
}

// Список социальных сетей

.networks__list {
  list-style: none;
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

// Элемент списка

.networks__item:not(:last-child) {
  margin-right: 10px;
}

// Ссылка элемента

.networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}

// Иконки соцальных сетей

.networks__icon {
  fill: var(--white);

  .networks__link:hover &,
  .networks__link:focus & {
    fill: var(--white);
  }
}

// Общий блок для формы подписки в футере

.subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Форма для подписки

.subscribe__field {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}

// Поле формы для подписки

.subscribe__input {
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--very-dark-grayish-blue);

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transition: all var(--transition-animation);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: transparent;
    border: 1px solid currentColor;
  }

  &:not(:placeholder-shown):focus:valid {
    color: green;
    border-color: green;
  }

  &:not(:placeholder-shown):focus:invalid {
    color: tomato;
    border-color: tomato;
  }

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;

    margin-right: 12px;
  }
}

// Кнопка подписки

.subscribe__btn {
  display: flex;
  align-items: center;

  padding: 10px 28px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

// Иконка для кнопки подписки

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
