.specialities-articles {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  margin-left: auto;
  @media screen and(min-width:480px) {
    display: block;
  }
  &__list {
    margin-bottom: 30px;
  }
  &-after {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--very-dark-gray);
    padding-bottom: 10px;
    @media screen and(min-width:480px) {
      color: var(--very-dark-gray);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
  &-tittle {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--dark-gray);
    @media screen and(min-width:480px) {
      width: 450px;
      height: 50px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: var(--dark-gray);
    }
  }
  &-icon {
    background: var(--light-grayish-blue);
    margin-bottom: 30px;
    padding: 25px;
    text-align: center;
  }
}
